bookmarks
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
elpa/archives/marmalade/archive-contents
elpa/archives/melpa/archive-contents
elpa/archives/gnu/archive-contents
elpa/archives/gnu/archive-contents.signed
